.category {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-size: 11px;
  font-weight: 700;
}

.text {
  font-size: 12px;
}

.checkbox {
  font-size: 12px;
  font-weight: 600;
}
